certifi==2018.11.29
chardet==3.0.4
idna==2.8
requests==2.21.0
urllib3==1.24.1
pathlib==1.0.1
# testing/devlopment
# https://dev.to/j0nimost/setting-up-pep8-and-pylint-on-vs-code-34h
pep8
pylint
autopep8
