astroid==1.6.6
autopep8==1.5
backports.functools-lru-cache==1.6.1
certifi==2019.11.28
chardet==3.0.4
configparser==4.0.2
enum34==1.1.10
futures==3.3.0
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
numpy==1.16.6
pandas==0.24.2
pathlib2==2.3.4
pep8==1.7.1
pkg-resources==0.0.0
pycodestyle==2.5.0
pylint==1.9.5
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
scandir==1.10.0
singledispatch==3.4.0.3
six==1.14.0
urllib3==1.25.8
wrapt==1.12.1
